<div class="row">
  <div class="col-xl-12">
    <app-card cardTitle="User Management" [options]="false" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Name</th>
              <th>E-mail</th>
              <th>Roles</th>
              <th>Created By</th>
              <th>Updated By</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>ADW-1</td>
              <td>adw&#64;gmail.com</td>
              <td>ADW and TW User</td>
              <td>admin</td>
              <td>----</td>
              <td>Active</td>
            </tr> 
          </tbody>
        </table>
      </div>
    </app-card>
  </div> 
  
</div>
